@media (min-width: 450px) {
	#historyI{
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (max-width:449px) {
	#historyI{
		margin-right: 10px;
	}
}
#historyI{
	margin-top: 250px;
	position:absolute;
	text-indent:3px;
	background-color:rgb(255, 235, 155);
	border:2px solid white;
	padding:10px;
}
p{
	text-indent:30px;
}
