		@media (min-width: 1200px) {
			#awards-activity-links{
				display: flex;
				flex-flow:row nowrap;
				justify-content: space-around;
			}
			#activityWrapper{
				width: 25%;
			}
			#awardsWrapper{
				width: 40%;
			}
			#linksWrapper{
				width: 25%;
			}
  	}
		#awards-activity-links{
			margin-top: 200px;
			margin-left: 150px;
			margin-right: 150px;
		}
		#activityT{
		color: rgb(224, 108, 25);
		/*position:absolute;
		top:290px;
		left:10%;*/
	    }
	    #activity{
		/*position:absolute;
		top:320px;
		left:10%;*/
		background-color:rgb(255, 235, 155);
		/*width:20%;*/
		height:300px;
		padding:20px;
		border:2px solid white;


	    }
	    #awards{
		/*position: absolute;
		Right:10%;
		top:385px;*/
		border:2px solid white;
		/*width:50%;*/
	    }
	    tr{
		background-color:rgb(255, 235, 155);
	    }
	    #awardsT{
		color:rgb(224, 108, 25);
		/*position:absolute;
		top:342px;
		right:34%;*/
	    }
	    #linksT{
		color: rgb(224, 108, 25);
		/*position:absolute;
		top:700px;
		left:10%;*/
	    }
	    #links{
		/*position:absolute;
		top:750px;
		left:10%;*/
		background-color:rgb(255, 235, 155);
		/*width:20%;*/
		padding:20px;
		border:2px solid white;
		overflow:auto;
	    }
