@media (min-width: 450px) {
	#historyI{
		margin-left: 10%;
		margin-right: 10%;
	}
}
#historyI{
	margin-top: 50px;
	text-indent:3px;
	background-color: rgb(255, 235, 155);
	border:2px solid black;
	padding:10px;
}
p{
	text-indent:30px;
}
@media (min-width:730px) {
	#comp17vid{
		width:533px;
		height:300px;
	}
}
@media (min-width:360px) {
	@media (max-width:729px) {
		#comp17vid{
			width:267px;
			height:150px;
		}
	}
}
@media (max-width:359px) {
	#comp17vid{
		width:214px;
		height:120px;
	}
}
@media (max-width: 449px) {
	#historyI{
		margin-left: 4px;
	}
}
