	    #historyI{
		position:absolute;
		top:250px;
		left:15%;
		width:67%;
		text-indent:3px;
		background-color:rgb(255, 235, 155);
		border:2px solid white;

		padding:10px;
		margin:0px,0px,20px,0px;
	    }
	    p{
		text-indent:30px;
	    }