
		
            .hide{
		color: rgb(224, 108, 25);
	    }

            #mainLogo{position:absolute;
	    	top:50px;
	    	left:100px;
	    	background-color:white;
		border:2px solid black;
	    }

            body {
	    	background-color:rgb(12, 74, 74);
	    }

            .topBar {
		background-color: rgb(224, 108, 25);
		padding:15px;
		height:27px;
	    }

            #title {background-color:rgb(224, 108, 25);
		padding:20px;
		position:absolute;
		top:29px; 
		left:256px;
		border:2px solid black;
		overflow:hidden;
		height:37px;
	    }

            #homeLink{
		border:2px solid black;

                position:absolute;

                top: 109px;
		left: 256px;
	    }

            #aboutUsLink{
		border:2px solid black;

                position:absolute;

                top: 109px;left: 345px;
	    }

	    #history{
		border:2px solid black;

                position:absolute;

                top: 109px;left: 470px;
	    }
	    #sponserUs{
		border:2px solid black;

                position:absolute;

                top: 109px;left: 579px;
	    }
	    #contactUs{
		border:2px solid black;

                position:absolute;

                top: 109px;left: 724px;
	    }
	    #empty{
		border:2px solid black;

                position:absolute;

                top: 110px;left: 866px;
		overflow:hidden;
		background-color: rgb(224, 108, 25);
		padding:15px;
		height:27px;
	    }
	    #notShown{
		border:2px solid black;

                position:absolute;

                top: 109px;right: 98px;
	    }
	    a,h1{
		color:black;
		text-decoration: none;
	    }
	    a,h1:visited{
		color:rgb(94, 94, 94);
		text-decoration: none;
	    }
	    #pageCutOffL{
		position: fixed;
		top:0px;left:0px;
		width:100px;
		height:100%;
		background-color:black;
	    }
	    #pageCutOffR{
		position: fixed;
		top:0px;right:0px;
		width:100px;
		height:100%;
		background-color:black;
		z-index: 1;
	    }
	    .topBar:hover{background-color:rgb(255, 125, 0);}