@media (min-width: 450px) {
	/*#aboutUsp{
		margin-left: 10%;
		margin-right: 10%;
	}*/
	#aboutUsWrapper{
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (max-width: 449px) {
	#aboutUsWrapper{
		margin-left: 4px;
	}
}
#aboutUsWrapper{
	margin-top: 50px;
	text-indent:3px;
	background-color:rgb(255, 235, 155);
	border:2px solid black;
	padding:10px;
}
p{
	text-indent:30px;
}
