@media (min-width: 450px) {
  #sponsorLogos{
    margin-left: 10%;
    margin-right: 10%;
  }
  #donate{
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 449px) {
  .logo{
    width:93%;
  }
}
#sponsorLogos{
  margin-top: 50px;
  position: relative;
  z-index: 2;
  line-height: 1.5em;
  display: flex;
  flex-flow:row wrap;
}
.logo{
  margin-left: 4px;
  margin-top: 10px;
  margin-right: 5px;
  border: 5px inset /*ridge rgb(224, 108, 25)*/black;
  background-color: white;
  padding: 5px;
}
#downloadbuisnessproposal{
  padding: 10px;
}
a img.nobord{
  padding: 0px;
}
.bbord{
  background-color: rgb(25,25,25);
}
p{
  margin-left: 4px;
}
h3{
  margin-left: 8px;
}
#donate{
  position: relative;
  z-index: 2;
}
.sponsornames{
  background-color: rgb(255, 152, 0);
  width: 150px;
  text-align: center;
  border: 5px solid black;
  margin: 5px;
}
#sponsors{
  margin-left: 100px;
}
