*{
  box-sizing: border-box;
}

@media (min-width: 975px) {
  header{
     height: 136px;
  }
  #title{
     width: calc(100% - 152px);
     top: 0px;
     margin-top: 0px;
     height: 96px;
     /*width: calc(83% - 156px);
	   left:calc(8.5% + 156px);
	   top:29px;*/
  }
   /*#pageCutOffL{
       position: fixed;
       top:0px;left:0px;
       width:8.5%;
       height:100%;
       background-color:black;
       z-index: 3;
   }
   #pageCutOffR{
       position: fixed;
       top:0px;right:0px;
       width:8.5%;
       height:100%;
       background-color:black;
       z-index: 3;
   }
   */#mainLogo{
      /*top:50px;
      left:8.5%;*/
      left: 0px;
   }/*
   .topBar{
      top: 109px;
      overflow: hidden;
   }
   #empty{
      top: 110px;
      left: calc(8.5% + 766px);
      right: 8.3%;
   }
   #homeLink{
      left: calc(8.5% + 156px);
   }
   #aboutUsLink{
      left: calc(8.5% + 245px);
   }
   #history{
      left: calc(8.5% + 370px);
   }
   #sponserUs{
      left: calc(8.5% + 479px);
   }
   #contactUs{
      left: calc(8.5% + 624px);
   }*/
   /*#notShown{
      top: -100px;
   }*/
   #topBarW{
      left: 152px;
      width: calc(100% - 152px);
   }

}
@media (max-width:974px) {
  #mainLogo{
    top:0%;
    left:0%;
  }
  #title{
      /*width: calc(100% - 156px);*/
      top: -21px;
      right: 0px;
      height: 136px;
  }
    #pageCutOffL{
      position: fixed;
      top:0px;left:0px;
      width:0%;
      height:0%;
      background-color:black;
  }
  #pageCutOffR{
      position: fixed;
      top:0px;right:0px;
      width:0%;
      height:0%;
      background-color:black;
      z-index: 1;
  }
  .topBar{
    top: 118px;
    overflow: hidden;
    line-height: 1.3em;
  }
  #empty{
    top: 119px;
    left:610px;
    right: 0px;
  }
  #homeLink{
    left: 0px;
  }
  #aboutUsLink{
     left: 89px;
  }
  #history{
     left: 214px;
  }
  #sponserUs{
    left: 323px;
  }
  #contactUs{
     left: 468px;
  }
/*  #notShown{
     right:0px;
  }*/
  #topBarW{
    width: 100%;
  }
}
#mainLogo{
    background-color:white;
    border:2px solid black;
    z-index: 2;
}
.hide{
	  color: rgb(224, 108, 25);
}
body {
    background-color: /*rgb(65, 74, 74)*/black;
    margin: 0px;
    /*background-color:rgb(7, 74, 74);*/
}
.topBar {
	  background-color: rgb(224, 108, 25);
    z-index: 2;
    margin: 0 0 0 24px;
}
#title{
     background-color:rgb(224, 108, 25);
     padding:20px;
	   position:absolute;
	   border:2px solid black;
     z-index: 2;
}
/*#empty{
	  border:2px solid black;
	  overflow:hidden;
	  background-color: rgb(224, 108, 25);
	  padding:15px;
	  height:27px;
    z-index: 2
}*/
/* #notShown{
	  border:2px solid black;
    position:fixed;
}*/
h2 a{
	  color:rgb(94, 94, 94);
	  text-decoration: none;
}
h2.active a{
  color: black;
  /*text-decoration: underline;*/
}
.topBar:hover{
  background-color:rgb(255, 125, 0);
}
.wrapper{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(65, 74, 74);
  padding: 1px
}
header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 0px;
  background-color: rgb(65, 74, 74);
}

h3{
  color: rgb(224, 108, 25);
  font-size: 1.25em;
}
p{
  font-family: sans-serif;
  background-color: rgb(255, 235, 155);
  border: solid white;
  padding: 5px;
  line-height: 1.75em;
}
h4{
  font-size: 1.1em;
}
li{
  font-family: sans-serif;
}
table{
  font-family: sans-serif;
}
.warning{
  background-color: red;
}
#UC{
  z-index: 1;
  background-color: yellow;
  border: solid white;
  padding: 2px;
  width: 120px;
}
@media (min-width:450px) {
    #UC{
        margin-left: 5%;
        margin-left: 10%;
    }
    #title{
      left: 152px;
    }
  }
  #topBarW{
    background-color:rgb(224, 108, 25);
    position:absolute;
    border:2px solid black;
    z-index: 2;
    bottom: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow:row wrap;
  }

@media (min-width:565px) {
  #topBarW{
    height: 58px;
  }
}
@media (min-width:595px) and (max-width: 974px) {
  header{
    height: 192px;
  }
}
@media (max-width:595px) {
  header{
    height: 240px;
  }
  #topBarW{
    height: 106px;
  }
}
@media (max-width:449px) {
  #topBar{
    margin: 0 auto 0 auto;
  }
}
