@media (min-width: 450px) {
	#contactInfo{
		width:335px;
		margin-left:10%;
		margin-right: 10px;
	}
}
@media (max-width: 449px) {
	#contactInfo{

	}
}
#contactInfoT{
		margin-top: 50px;
		margin-left:10%;
		color:rgb(224, 108, 25);
}
#contactInfo{
		text-indent:3px;
		background-color:rgb(255, 235, 155);
		border:2px solid white;
		padding:10px;
		line-height: 2em;
}
