@media (min-width: 450px) {
	#contactInfo{
		width:335px;
		margin-left:10%;
		margin-right: 10px;
	}
}
@media (max-width: 449px) {
	#contactInfo{
		margin-left: 4px;
	}
}
#contactInfoT{
		margin-top: 50px;
		margin-left:10%;
		position: relative;
		z-index: 2;
}
#contactInfo{
		text-indent:3px;
		background-color:rgb(255, 235, 155);
		padding:10px;
		line-height: 2em;
		position: relative;
		z-index: 2;
		margin-bottom:50px;
}
